#main {
  padding-top: 74px;
  position: relative;
  display: flex;
  width: 100%;

  .sidebar-wrapper {
    position: relative;
    width: 100%;
    max-width: 300px;
    background-color: $dark;

    #sidebar {
      position: fixed;
    }
  }

  .mentions {
    margin-top: 100px;
  }

  .content-wrapper {
    flex-grow: 1;
  }

  .dashboard {
    margin: 50px 0;
    border-radius: 10px ;

    .profile {
      margin: 1.5em;
      border-radius: 5px;
      padding: 5em;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .avatar {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 1.5em;

        img {
          max-height: 150px;
          border-radius: 100%;
          position: center;
        }
      }

      .profile-name {
        color: #000000 ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
      }



      .profile-publication {
        color: #000000;

        h2 {
          margin-bottom: 15px;
        }

        ul {
          color: #000000;

          li {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
            list-style-type: none;
          }
        }
      }
    }
  }
  .edit-user {
    margin: 5.5em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .users-list {
    color: #2c3034;
    .title-list {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
    }
    .users {
      color: #ffffff;
      li {
        padding: 1.5em;
        a {
          color: #2c3034;
        }
      }
    }
  }
}

