#sidebar {
  margin-top: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(88vh - 90px);

  .nav-item {

    .nav-link {
      color: #d2cfcf;

      &:hover {
        color: #ffc107;
      }
    }
  }
  .logout {
    display: flex;
    justify-content: center;
    a {
      padding: 1px 2.5em;
    }
  }
}