#inscription {
  background-color: #2c3034;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    .card {
      background-color: #2c3034;
      color: #ffffff;
      padding: 1.5em;
      box-shadow: 5px 4px 50px #000000;
      a {
        color: #ffffff;
      }
      .form-text {
        color: #ffffff;
      }
    }
    .button {
      display: flex;
      justify-content: flex-end;
    }
  }
}